@model SPRINGSITE.WEB.ResetPasswordModel
@{
    ViewBag.Title = "ForgetPassword";
}
<div id="acc-reset-password">
    <hgroup class="title">
        <h1>Forget Password.</h1>
        <h2>Use the form below to reset your password.</h2>
    </hgroup>
    @using (Ajax.BeginForm("ForgetPassword", "Account", null,
            new AjaxOptions
            {
                UpdateTargetId = "UpdateTargetId",
                InsertionMode = InsertionMode.Replace,
                HttpMethod = "POST",
                LoadingElementId = "LoadingId"
            }, new { @id = "accResetPassForm" }))
    {
        @Html.ValidationSummary(true)

        <div class="login-inside">
            <div class="login-data">
                <p class="message-info">
                    Can't sign in? Forgot your password?
                    <br />
                    Enter your email address below and we'll send you password reset instructions.
                </p>
                <div class="row clear">
                    @Html.LabelFor(m => m.UserEmail)
                    @Html.TextBoxFor(m => m.UserEmail)
                    @Html.ValidationMessageFor(m => m.UserEmail)
                </div>
                <input class="button" type="submit" value="Reset" />
                <div class="row clear">
                    <div id="UpdateTargetId">
                    </div>
                    <div id="LoadingId" class="message-info" style="display: none;">
                        Email sending...
                    </div>
                </div>
            </div>
            <p class="message-info">
                <b>A note about spam filters</b>
                <br />
                If you don't get an email from us within a few minutes please be sure to check your
                spam filter. The email will be coming from info@myregfire.com.
            </p>
        </div>
    }
</div>

