@{
    ViewBag.Title = "ResetPasswordSuccess";
}

<div id="acc-reset-password-success">
    <hgroup class="title">
        <h1>Reset Password Success</h1>
        <h2>Your password has been reseted successfully.</h2>
    </hgroup>
</div>
